﻿header{
    text-align:center;
}
#inscription{
    border-style: solid;
    background-color: coral;
    height: 300px;
    width: 350px;
    float: left;
    margin-left: 120px;
    text-align: center;

}
#login{
    border-style: solid;
    background-color: lightblue;
    height: 300px;
    width: 350px;
    float: right;
    text-align: center;
    margin-right: 120px;
}

#ajout{
    text-align: center;
    margin-top: 10px;
    margin-left: 30%;
    border-style: dotted;
    height: 850px;
    width:500px;
    border-radius: 2%;
}
#calDate{
    margin-left: 26%;
}
footer{
    clear: both;
}